.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }

.main-info-container{
    width: 98%;
    height: calc(100% - 100px);
    margin:10px;
    background-color:white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}

.right-part{
    padding-right: 10px;
    padding-top:10px;
    width: 45%;
    height: 100%;
    float: right;
}

.left-part{
    display: inline-block;
    padding-left:10px;
    padding-top:10px;
    width: 45%;
    height: 100%;
}
.student-list{
    overflow: auto;
    height: 60%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
    background-color: #F8F8F8;
}

.courses-list{
    height: 60%;
    overflow: auto;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
    background-color: #F8F8F8;
}

.title{
    font-weight: 600;
    font-size:20px;
    margin-bottom: 10px;
}

.assign-button{
    position: absolute;
    right: 10px;
}

.group-label{
    margin-right: 10px;
}


.selection-container{
    margin-left: 10px;
}

.example-full-width {
    width: 20%;
    padding-top:10px;
    margin-left:20px;
}

.student-list-container{
    width: 50%;
    margin-left:25%;
    overflow: auto;
    height: 80%;
}

.assign-button{
    position: absolute;
    right: 50px;
    bottom:20px;
}

.with-margin {
    margin-left: 20px;
}