
.left-part{
    display: inline-block;
    padding-left:10px;
    padding-top:10px;
    width: 45%;
    height: 100%;
}
.right-part{
    width: 45%;
    height: 100%;
    display: inline-block;
    align-content: center;
}
.mat-form-field{
    width: 90%;
}
.student-list{
    overflow: auto;
    height: 100%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
    background-color: #F8F8F8;
}

.title{
    font-weight: 600;
    font-size:20px;
    margin-bottom: 10px;
}

