.student-list-container {
    width: 100%;
    height: 80%;
    overflow: auto;
}

.student-list{
    height: 100%;
}


.mat-selection-list{
    height: 100%;
}

.left-part{
    width: 45%;
    height: 80%;
    display: inline-block;
}
.right-part{
    width: 45%;
    height: 80%;
    float: right;
}