/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin:0px;
    background-color: #f1f1f1f1;
}

.toolbar .mat-toolbar-row, .mat-toolbar-single-row {
    height: 54px !important;
    position: absolute;
    z-index: 2;
}

.mat-drawer.mat-drawer-side{
    margin-top:54px;
}
.mat-drawer-content.mat-sidenav-content{
    margin-left: 204px !important;
    margin-top:54px;
}

.mat-drawer-inner-container{
    width: 204px !important;
}