.form-container{
    position: absolute;
    width: 25%;
    height: 50%;
    background-color: white;
    left:38%;
    top:28%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);

}

.form-input{
    padding-top: 15px;
    padding-left:15px;
    padding-right: 15px;
    width:90%;
}

.login-button{
    margin:5px;
    left:75%;
}

@media only screen and (max-width:360px){
    .form-container{
        height: 40%;
        width: 60%;
        left:20%;
    }

    .login-button{
        left:58%;
    }
}

@media only screen and (max-width:420px) and (min-width:361px){
    .form-container{
        height: 40%;
        width: 60%;
        left:20%;
    }

    .login-button{
        left:57%;
    }
}
@media only screen and (max-width:640px) and (min-width:421px){
    .login-button{
        left:58%;
    }
}

@media only screen and (max-width: 768px) and (min-width:641px) {
    .login-button{
        left:65%;
    }
}

@media only screen and (max-width:1024px) and (min-width:769px){
    .login-button{
        left:75%;
    }
}

@media only screen and (max-width:924px) and (min-width:769px){
    .login-button{
        left:70%;
    }
}

@media only screen and (max-width:1057px) and (min-width:1025px){
    .login-button{
        left:74%;
    }
}






